<Router AppAssembly="@typeof(MauiProgram).Assembly" 
    AdditionalAssemblies="new [] {typeof(NaeTime.Client.Razor.Pages.PilotPages.PilotsList).Assembly }"> 
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(NaeTime.Client.Razor.Layouts.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(NaeTime.Client.Razor.Layouts.MainLayout)">
            <p>404 its fucked</p>
        </LayoutView>
    </NotFound>
</Router>
