@page "/openpractice"
@layout MainLayout
<div class="open-practice-grid">
    @if (!_isLaneConfigCollapsed)
    {
        <div>
            <table class="w-100 mb-2">
                <tr>
                    <td>

                        <h1>Open Practice</h1>
                        <Dropdown>
                            <DropdownToggleButton Color="ButtonColor.Primary">Start Session On</DropdownToggleButton>
                            <DropdownMenu>
                                @foreach (var track in _tracks)
                                {
                                    <DropdownItem Type="ButtonType.Button" @onclick="() => StartNewSessionOnTrack(Guid.NewGuid(),track.Id,track.MinimumLapTimeMilliseconds,track.MaximumLapTimeMilliseconds)">@track.Name</DropdownItem>
                                }
                                <DropdownItem Type="ButtonType.Button" @onclick="() => StartSessionOnNewTrack()">[New Track]</DropdownItem>
                            </DropdownMenu>
                        </Dropdown>
                        <Dropdown>
                            <DropdownToggleButton Color="ButtonColor.Primary">@GetActiveSessionName()</DropdownToggleButton>
                            <DropdownMenu>
                                @foreach (var session in _sessionDetails)
                                {
                                    <DropdownItem Type="ButtonType.Button" @onclick="() => SetupForSession(session.Id)">@session.Name</DropdownItem>
                                }
                            </DropdownMenu>
                        </Dropdown>
                        @if(_selectedSession != null)
                        {
                            <Dropdown Class="mx-1">
                                <DropdownToggleButton Color="ButtonColor.Primary">Add Consecutive Laps</DropdownToggleButton>
                                <DropdownMenu>
                                    @{
                                        uint[] laps = [2, 3, 4, 5, 6, 7, 8, 9, 10];
                                        foreach (var lap in laps)
                                        {
                                            if (!_selectedSession.TrackedConsecutiveLaps.Any(x => x == lap))
                                            {
                                                <DropdownItem Type="ButtonType.Button" @onclick="() => TrackConsecutiveLaps(_selectedSession.Id,lap)">@lap</DropdownItem>
                                            }
                                        }
                                    }
                                </DropdownMenu>
                            </Dropdown>
                        }
                    </td>
                    @if (_selectedSession != null)
                    {
                        <td class="content-end">
                            <table style="float:right;">
                                <th>
                                    Lap Times (ms)
                                </th>
                                <tr>
                                    <th>
                                        Minimum
                                    </th>
                                    <th>
                                        Maximum
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <NumberInput Class="rounded-0 rounded-end" TValue=long ValueChanged="SetSessionMinimumLapTime" Value="_selectedSession.MinimumLapMilliseconds" ValueExpression="() => _selectedSession.MinimumLapMilliseconds"></NumberInput>
                                    </td>
                                    <td>
                                        <NumberInput Class="rounded-0 rounded-end" TValue=long? ValueChanged="SetSessionMaximumLapTime" Value="_selectedSession.MaximumLapMilliseconds" ValueExpression="() => _selectedSession.MaximumLapMilliseconds"></NumberInput>
                                    </td>
                                </tr>
                            </table>
                        </td>

                    }
                </tr>
            </table>
        
        </div>
    }
    @if (_selectedSession == null)
    {
        <h3>No active session</h3>
    }
    else
    {
        <div>
            @if (_selectedSession.Id == _activeSessionId)
            {
                <div class="lane-container">
                    @foreach (var laneConfiguration in _selectedSession.Lanes)
                    {
                        <SessionLaneConfiguration Pilots="_pilots"
                                                  Configuration="laneConfiguration"
                                                  SessionId="_selectedSession.Id"
                                                  IsCollapsed="_isLaneConfigCollapsed"
                                                  MaximumLapMilliseconds="_selectedSession.MaximumLapMilliseconds">
                        </SessionLaneConfiguration>
                    }
                </div>

                <div>
                    @if (_isLaneConfigCollapsed)
                    {
                        <Button Class="w-100 p-0" Style="height:15px;font-size:small" Color="ButtonColor.Light" @onclick="@(()=>_isLaneConfigCollapsed = false)"><i class="fa-solid fa-caret-down"></i></Button>
                    }
                    else
                    {
                        <Button Class="w-100 p-0" Style="height:15px;font-size:small" Color="ButtonColor.Light" @onclick="@(()=>_isLaneConfigCollapsed = true)"><i class="fa-solid fa-caret-up"></i></Button>
                    }
                </div>
            }
        </div>
        
        <div>
            <div class="lane-container">

                <div class="shadow-sm p-3">
                    <SingleLapLeaderboard SessionId="_selectedSession.Id"></SingleLapLeaderboard>
                </div>
                <div class="shadow-sm p-3">
                    <TotalLapsLeaderboard SessionId="_selectedSession.Id"></TotalLapsLeaderboard>
                </div>
                @foreach (var trackedLapCaps in _selectedSession.TrackedConsecutiveLaps.OrderBy(x => x))
                {
                    <div class="shadow-sm p-3">
                        <ConsecutiveLapsLeaderboard SessionId="_selectedSession.Id" LapCap="trackedLapCaps"></ConsecutiveLapsLeaderboard>
                    </div>
                }
            </div>
        </div>
        
        <div>
            <div class="lane-container" style="max-height:100%;">
                @foreach(var pilot in _pilots)
                {
                    <div class="lane-child shadow-sm p-3">
                        <PilotLapList SessionId="_selectedSession.Id" PilotId="pilot.Id" PilotName="@pilot.CallSign" ></PilotLapList>
                    </div>
                }
            </div>
        </div>
    }
</div>
