<div>
    <div>
        Lane: @Configuration.LaneNumber
    </div>

    <div>
        RSSI: @_laneRSSIValue
    </div>
    <div>
        PilotId: @Configuration.PilotId
    </div>
    <div>
        <Switch ValueChanged="EnabledChanged" Value=Configuration.IsEnabled ValueExpression="()=>Configuration.IsEnabled" Label="Enabled"></Switch>
    </div>
    <div>
        <Dropdown>
            <DropdownToggleButton Color="ButtonColor.Secondary">@GetBandString()</DropdownToggleButton>
            <DropdownMenu>
                @foreach(var band in Messages.Frequency.Band.Bands)
                {
                    <DropdownItem Type="ButtonType.Button" @onclick="() => GoToBand(band.Id)">@band.Name</DropdownItem>
                }
            </DropdownMenu>
        </Dropdown>
       
    </div>
    <div>
        @if (Messages.Frequency.Band.Bands.Any(x => x.Id == Configuration.BandId))
        {
            <Dropdown>
                <DropdownToggleButton Color="ButtonColor.Secondary">@GetFrequencyString()</DropdownToggleButton>
                    <DropdownMenu>
                        @{
                        var band = Messages.Frequency.Band.Bands.First(b => b.Id == Configuration.BandId);
                        foreach (var frequency in band.Frequencies)
                        {
                            <DropdownItem Type="ButtonType.Button" @onclick="() => GoToFrequency(frequency.FrequencyInMhz)">@frequency.Name</DropdownItem>
                        }
                    }
                </DropdownMenu>
            </Dropdown>
        }
        else
        {
            <NumberInput TValue=int ValueChanged="GoToFrequency" Value="Configuration.FrequencyInMhz" ValueExpression="() => Configuration.FrequencyInMhz"></NumberInput>
        }
    </div>
    <div>
        Frequency: @Configuration.FrequencyInMhz
    </div>
    <div>
        <Button Type="ButtonType.Button" Color="ButtonColor.Primary" @onclick="() => TriggerDetection(0)">Trigger</Button>
    </div>
    <div>
        @foreach(var lap in _laneLaps)
        {
            string textClass = lap.Status switch
            {
                LapStatus.Started => "text-secondary",
                LapStatus.Finished => "text-success",
                LapStatus.Invalid => "text-danger",
                _ => "text-secondary"
            };
            <div class="@textClass">
                @lap.LapNumber - @lap.Started - @lap.Ended : @lap.TotalTime
            </div>
        }
    </div>
</div>
