@using Syncfusion.Blazor.Charts
<div style="width:340px;">
    <div class="d-flex">
        @if (!string.IsNullOrWhiteSpace(Header))
        {
            <h5 class="text-center">@Header</h5>
        }
        @if (Laps.Any(x => x.Status == Lib.Models.OpenPractice.OpenPracticeLapStatus.Completed))
        {
            <div style="position:relative; right:0; top:0;">
                <SfSparkline TValue="NaeTime.Client.Razor.Lib.Models.OpenPractice.OpenPracticeLap"
                             XName="FinishedUtc"
                             YName="TotalMilliseconds"
                             ValueType="SparklineValueType.DateTime"
                             DataSource="Laps.Where(x=>x.Status == Lib.Models.OpenPractice.OpenPracticeLapStatus.Completed)"
                             Width="200px"></SfSparkline>
            </div>
        }
    </div>
    <div>
        @{
            string deviation = GetStandardDeviation(10);
            if (!string.IsNullOrWhiteSpace(deviation))
            {
                <span class="e-badge">@deviation</span>
            }
            deviation = GetStandardDeviation(50);
            if (!string.IsNullOrWhiteSpace(deviation))
            {
                <span class="e-badge">@deviation</span>
            }
            deviation = GetStandardDeviation(null);
            if (!string.IsNullOrWhiteSpace(deviation))
            {
                <span class="e-badge">@deviation</span>
            }
        }
    </div>
    
    
    <div style="max-height: 522px; overflow:auto;">
        <table class="table table-striped overflow-auto lap-table" style="height:200px">
            <tr>
                <th>
                    #
                </th>
                
                @if (IncludePilot)
                {
                    <th>
                        Pilot
                    </th>
                }
                <th>
                    Completed
                </th>
                <th>

                </th>
                <th>
                    Time
                </th>
                <th style="width:5%">

                </th>
            </tr>
            <tbody>
                @{
                    int lapNumber = Laps.Count();

                    @foreach (var lap in Laps.OrderByDescending(x => x.FinishedUtc))
                    {
                        <tr>
                            <td>
                                @(lapNumber--)
                            </td>
                            @if (IncludePilot)
                            {
                                <td>
                                    @lap.PilotName
                                </td>
                            }
                            <td>
                                @lap.FinishedUtc.ToString("HH:mm:ss")
                            </td>
                            <td class="lap-line-cell">
                                @foreach (LapRecord record in LapRecords.OrderByDescending(x => x.LapCap))
                                {
                                    @if (record.IncludedLaps.Contains(lap.Id))
                                    {
                                        <div class="lap-line @($"lap-line-{record.LapCap}")"></div>
                                    }
                                }
                            </td>
                            <td class="@(lap.Status != Lib.Models.OpenPractice.OpenPracticeLapStatus.Completed ?"text-danger" :"")">
                                @($"{TimeSpan.FromMilliseconds(lap.TotalMilliseconds):m\\:ss\\:fff}")
                            </td>
                            <td>
                                <div class="btn-group">
                                    @if (lap.Status == Lib.Models.OpenPractice.OpenPracticeLapStatus.Completed)
                                    {
                                        <Button style="min-width:30px;" Size=BlazorBootstrap.Size.Small Color=ButtonColor.Danger @onclick="() => Invalidate(lap.Id,lap.PilotId)"><i class="fa-solid fa-exclamation"></i></Button>
                                    }
                                    else
                                    {
                                        <Button style="min-width:30px;" Size=BlazorBootstrap.Size.Small Color=ButtonColor.Success @onclick="() => Validate(lap.Id,lap.PilotId)"><i class="fa-solid fa-check"></i></Button>
                                    }
                                    <Button style="min-width:30px;" Size=BlazorBootstrap.Size.Small Color=ButtonColor.Secondary @onclick="() => Remove(lap.Id,lap.PilotId)"><i class="fa-solid fa-xmark"></i></Button>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
